@import "../../Variables.scss";

.hero {
  height: 100vh;
  background-color: $lightColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;

  &__container {
    text-align: start;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }

  &__heading {
    font-weight: bold;
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: $secondaryColor;
    margin-bottom: 1rem;
  }

  &__subheading {
    font-size: 1.5rem;
    font-weight: bold;
    color: $darkColor;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.5rem;
    color: $darkColor;
    margin-bottom: 2.5rem;

    line-height: 3rem;
    letter-spacing: 0.1rem;
  }

  &__link {
    font-weight: bold;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: $primaryColor;
    color: $darkColor;
    text-decoration: none;
    font-size: 1.5rem;
    color: $darkColor;
    margin-bottom: 1rem;

    &:hover {
      background-color: $darkColor;
      color: $primaryColor;
    }
  }
}
